@page
@model ToDoFrontEnd.Pages.preloginpageModel
@section scripts{
    <abp-script src="/libs/vue/vue.min.js" />
    <abp-script src="/Pages/initial.js" />
    <abp-script src="/Pages/preloginpage.cshtml.js" />
}
<div id="app" >
        <h2>{{message}}</h2>
</div>
