@page "/ToDo"
@using ToDoFrontEnd.Services.Dtos;
@model ToDoFrontEnd.Pages.ToDoModel
@{
    Layout = null;
}

<script src="~/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="~/global-styles.css" />
<script src="~/libs/jquery/jquery.js"></script>
<link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.css" />
<link href="~/libs/@("@")fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />



<div class="container-fluid">

    <div class="d-flex" id="wrapper">
        <div class="border-end bg-white col-2" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light"><p class="text-center h5">Titles</p></div>
            @await Html.PartialAsync("Partials/Sidebar",await  Model.GetTitles())

        </div>


        <!-- Page content wrapper-->
        <div id="page-content-wrapper" class="w-100">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.GetUsername()</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#!">Action</a>
                                    <a class="dropdown-item" href="#!">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href='@Url.Page("logout")'>Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div id="todocontainer" class="container-fluid">
                <ul class="navbar ">
                    <li class="navbar-nav ms-auto mt-2 mt-lg-0 ">
                        <form method="post" asp-page-handler="ToDoAdd">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddModel" )">
                                <i class="fa fa-solid fa-plus"></i>
                            </button>
                            <div class="modal fade" id="AddModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add ToDo</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="tododescription">Description</label>
                                            <input class="form-control" type="text" name="tododescription" id="tododescription">
                                            <input type="hidden" name="titleid" value=@Model.SelectedTitleId>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button class="btn btn-danger" type="submit">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
                @if (!string.IsNullOrEmpty(Request.Cookies["Access-Token"]) && !string.IsNullOrEmpty(Model.SelectedTitleId))
                {
                    @await Html.PartialAsync("Partials/ToDoDatatable",await  @Model.GetToDos(Model.SelectedTitleId))
                }
            </div>
        </div>
    </div>
</div>
